{% load static %}

<form action="">
    
<div style="text-align: center;">  
<h1>Credit Advantage : Un credit pour tous le monde </h1>
<label for="NAICS">NAICS:</label>
<select id="NAICS" name="NAICS">
  <option value="Retail trade">Retail trade</option>
  <option value="Accommodation and food services">Accommodation and food services</option>
  <option value="Health care and social assistance">Health care and social assistance</option>
  <option value="Sector not known">Sector not known</option>
  <option value="Wholesale trade">Wholesale trade</option>
  <option value="Manufacturing">Manufacturing</option>
  <option value="Other services (except public administration)">Other services (except public administration)</option>
  <option value="Construction">Construction</option>
  <option value="Educational services">Educational services</option>
  <option value="Realestate and rental and leasing">Realestate and rental and leasing</option>
  <option value="Professional, scientific, and technical services">Professional, scientific, and technical services</option>
  <option value="Information">Information</option>
  <option value="Arts, entertainment, and recreation">Arts, entertainment, and recreation</option>
  <option value="Finance and insurance">Finance and insurance</option>
  <option value="Mining, quarrying, and oil and gas extraction">Mining, quarrying, and oil and gas extraction</option>
  <option value="Administrative and support and waste management and remediation services">Administrative and support and waste management and remediation services</option>
  <option value="Transportation and warehousing">Transportation and warehousing</option>
  <option value="Agriculture, forestry, fishing and hunting">Agriculture, forestry, fishing and hunting</option>
  <option value="Public administration">Public administration</option>
  <option value="Utilities">Utilities</option>
  <option value="Management of companies and enterprises">Management of companies and enterprises</option>
</select>
<br>
<br>
<label for="Term">En combien de mois vous voulez rembourser votre prêt ? </label>
<input type="int" id="Term" name="Term" >
<br>
<br>

<label for="NewExist">Votre entreprise à t'elle plus de 1 an ? (1 pour oui  0 pour non) </label>

<select id="NewExist" name="NewExist">
<option value="1">1</option>
<option value="0">0</option>
</select>
<br>
<br>


<label for="FranchiseCode">Etes vous une franchise ? (1 pour oui  0 pour non)</label>
<select id="FranchiseCode" name="FranchiseCode">
    <option value="1">1</option>
    <option value="0">0</option>
</select>
<br>
<br>
<label for="UrbanRural">Votre entreprise est en ville ou à la campagne ?  (1  pour ville  0 pour campagne)</label>
<select id="UrbanRural" name="UrbanRural">
    <option value="1">1</option>
    <option value="0">0</option>
</select>
<br>
<br>
<label for="RevLineCr">Souhaitez vous un crédit de type revolving ? (1 pour oui  0 pour non)</label>
<select id="RevLineCr" name="RevLineCr">
    <option value="1">1</option>
    <option value="0">0</option>
</select>
<br>
<br>
<label for="LowDoc">Souhaitez vous un crédit à faible documentation ? (1 pour oui  0 pour non)</label>
<select id="LowDoc" name="LowDoc">
    <option value="1">1</option>
    <option value="0">0</option>
</select>
<br>
<br>
<label for="GrAppv">Quel est le montant du prêt auquel vous souhaitez souscrire ? </label>
<input type="float" id="GrAppv" name="GrAppv" >

<br>
<br>

<input class="favorite styled"  id="button-id" 
       type="button" onclick="getValue();"
       value="Envoyer"style="background-color: Yellow; font-size: 16px; padding: 10px;">
<br>
<br>

<label for="Reponse":</label>
<input type="text" id="reponse" name="reponse" style="width:400px;">
<br>
<br>
<img src="{% static 'Site/loading.gif'%}" id = "image">

</div>
</form>



<script>
    function getValue() {
        inputName = ["NAICS","Term","NewExist","FranchiseCode","UrbanRural","RevLineCr","LowDoc","GrAppv"]
        //let dict = {};
        // Sélectionner l'élément input et récupérer sa valeur
        var url = 'https://predictionpretbanquaire.onrender.com/predict?'
        for(var i = 0 ; i< inputName.length;i++)
        {
            //dict[inputName[i]] = document.getElementById(inputName[i]).value;
            if(inputName[i]!= "GrAppv")
            url += inputName[i] +"="+document.getElementById(inputName[i]).value+"&"
            else
            url += inputName[i] +"="+document.getElementById(inputName[i]).value
        }
    

        
      

      
       // document.getElementById('button-id').addEventListener('click', function() {getValue();
        //  window.location.href =url;
       // });
    

       //res=>{document.getElementById("reponse").value = res[0]}
        fetch(url).then(data=>{return data.json()})
        .then(res=>{document.getElementById("reponse").value = res.Class})

        setTimeout(function () {
        var value = document.getElementById("reponse").value;
        console.log(value)
        if (value == "Votre crédit à était accépté , toute mes félicitations") 
        {
            // Modifier l'image pour afficher une autre image
            document.getElementById("image").src = "{% static 'Site/minions.gif' %}";
          }
        else{
            document.getElementById("image").src = "{% static 'Site/suicide.gif' %}";
          }

        //document.getElementById('image').src = 'Site/minions.gif';

        //console.log(res)
    }, 2000);
        
    }
    
</script>
